*.swp
*.pyc
qqsdkplugins/sqlite_sserver/*.db
log_helper/*.log
log_helper/*.log.*

.idea/
.DS_Store
err.txt
verifycode.jpg
webqq/ewm.jpg

db.sqlite3
*/migrations/*
!*/migrations/__init__.py
