*.swp
*.pyc
nohup.out
qqsdkplugins/sqlite_sserver/*.db
log_helper/*.log
log_helper/*.log.*
.idea/
.DS_Store
db.sqlite3
*/migrations/*
!*/migrations/__init__.py
group_manager.db
rpgdata.db
venv/
CoolQAir/
__pycache__/
mirai/
config.py
msgplugins/dailynews/data/*
msgplugins/bilicard/cookie.txt