*.swp
*.pyc
nohup.out
qqsdkplugins/sqlite_sserver/*.db
logs/*.log
.idea/
.DS_Store
db.sqlite3
*/migrations/*
!*/migrations/__init__.py
group_manager.db
rpgdata.db
venv/
CoolQAir/
__pycache__/
mirai/
msgplugins/dailynews/data/*
msgplugins/bilicard/cookie.txt
!/.gitkeep
msgplugins/blacklist/config.json
msgplugins/stable_diffusion/*.png
msgplugins/chatgpt/prompts.json
msgplugins/vision_menu/menu.png
config.json
qqsdk/message/cmd_config.json
!data/.keep
data/*
.env.*
src/common/alembic/group_point/alembic/versions/*